.home {
    padding-block: 25px;

    .col {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 992px) {

    .home {
        .col {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

@media (min-width: 1200px) {

    .home {
        .col {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
    }
}